<!--<form class="form-signin">
    <h2>Login</h2>
    <label for="username" class="sr-only">Username</label>
    <input type="text" required autofocus id="username" #username placeholder="Username/Email" />
    <label for="password" class="sr-only">Password</label>
    <input type="password" class="form-control" required autofocus id="password" #password placeholder="Password" />
    <button type="button" (click)="login(username.value, password.value)">Login</button>
</form>-->
<div class="ui-g">
    <div class="ui-g-4 ui-g-offset-3">
        <p-card>
            <p-header>
                <h2 class="card_title">Please, login to continue</h2>
            </p-header>
            <div class="ui-inputgroup">
                <input type="text" class="element_center_card"  pInputText [(ngModel)]="user.username" placeholder="Username">
            </div>
            <div class="ui-inputgroup">
                <input type="text" class="element_center_card"  pInputText [(ngModel)]="user.password" placeholder="Password">
            </div>
            <div class="ui-inputgroup">
                <button pButton type="button" (click)="login()" label="Login!" class="ui-button-raised element_center_card"></button>
            </div>
        </p-card>
    </div>
</div>

