/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card_title {
    text-align: center;
}

.element_center_card {
    margin: 0 auto !important;
    margin-top: 10px !important;
}